body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

header {
    padding: 20px;
    background-color: #222;
    text-align: center;
}

h1 {
    color: #fff;
}

section, .anormal {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

#inicio, section p {
    text-align: justify;
    line-height: 1.6;
}

#contacto {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.table-horarios {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.table-horarios th, .table-horarios td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.table-horarios th {
    background-color: #4CAF50;
    color: #fff;
}

.table-horarios tbody tr:nth-child(even) {
    background-color: #333;
}

.table-horarios tbody tr:hover {
    background-color: #ddd;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-top: 0;
}

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    border: none;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

.imagen-principal {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
